{% extends 'blog/web-admin/admin-base.html' %}
{% load crispy_forms_tags %}

{% block admin-content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Kategori</h1>

    {% if request.user.is_staff %}
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addCategory">
                Tambah Kategori
            </button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="addCategoryTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form method="POST">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="addCategoryLongTitle">Tambah Kategori</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ form|crispy }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                        <input type="submit" class="btn btn-primary" name="add-category" value="Tambah Kategori">
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>
<div>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Nama Kategori</th>
                {% if request.user.is_staff %}
                <th class="text-right pr-5">Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for kateg in kategori %}
            <tr>
                <td>{{ kateg.name }}</td>
                {% if request.user.is_staff %}
                <td class="float-right">
                    <button class="btn btn-sm btn-danger" data-toggle="modal"
                        data-target="#hapusKategori{{ kateg.id }}">Delete</button>
                    <!-- Delete Modal -->
                    <div class="modal fade" id="hapusKategori{{ kateg.id }}" tabindex="-1" role="dialog"
                        aria-labelledby="hapusKategori{{ kateg.id }}Title" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <form method="POST" action="{% url 'admin_kategori_hapus' kategori_id=kateg.id %}">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="hapusKategori{{ kateg.id }}LongTitle">Konfirmasi
                                            Hapus Kategori</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Kamu yakin ingin menghapus kategori ini?</p>
                                        <p><strong>{{ kateg.name }}</strong></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Batal</button>
                                        <input type="submit" class="btn btn-danger" name="confirm-delete"
                                            value="Hapus Kategori">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-sm btn-success" data-toggle="modal"
                        data-target="#renameKategori{{ kateg.id }}">Rename</button>
                    <!-- Rename Modal -->
                    <div class="modal fade" id="renameKategori{{ kateg.id }}" tabindex="-1" role="dialog"
                        aria-labelledby="renameKategori{{ kateg.id }}Title" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <form method="POST" action="{% url 'admin_kategori_rename' kategori_id=kateg.id %}">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="renameKategori{{ kateg.id }}LongTitle">Rename
                                            Kategori</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="div_id_name" class="form-group">
                                            <label for="id_name" class=" requiredField">Name<span
                                                    class="asteriskField">*</span></label>
                                            <input type="text" name="name" maxlength="50"
                                                class="textinput textInput form-control form-control"
                                                required="required" id="id_name" value="{{ kateg.name }}">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Batal</button>
                                        <input type="submit" class="btn btn-primary" name="confirm-rename"
                                            value="Rename Kategori">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock admin-content %}