{% extends 'blog/web-admin/admin-base.html' %}

{% block admin-content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Halaman Statis</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="{% url 'admin_halaman_add' %}" class="btn btn-sm btn-primary">Tambah Halaman</a>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Judul Halaman</th>
                <th>Tanggal Halaman</th>
                <th>Author</th>
                <th class="text-right pr-4">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for halaman in halaman_statis %}
            <tr>
                <td>{{ halaman.title }}</td>
                <td>{{ halaman.updated_at|date:"d F Y, g:i A" }}</td>
                <td>{{ halaman.author.get_full_name }}</td>
                <td class="float-right">
                    <a href="{% url 'page_detail' slug=halaman.slug %}" class="btn btn-sm btn-warning"
                        target="_blank">Pratinjau</a>
                    <a href="{% url 'admin_halaman_update' page_id=halaman.id %}"
                        class="btn btn-sm btn-success">Edit</a>
                    <button class="btn btn-sm btn-danger" data-toggle="modal"
                        data-target="#hapusHalaman{{ halaman.id }}">Delete</button>
                    <!-- Delete Modal -->
                    <div class="modal fade" id="hapusHalaman{{ halaman.id }}" tabindex="-1" role="dialog"
                        aria-labelledby="hapusHalaman{{ halaman.id }}Title" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <form method="POST" action="{% url 'admin_halaman_hapus' page_id=halaman.id %}">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="hapusHalaman{{ halaman.id }}LongTitle">Konfirmasi
                                            Hapus Halaman</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Kamu yakin ingin menghapus halaman ini?</p>
                                        <p><strong>{{ halaman.title }}</strong></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Batal</button>
                                        <input type="submit" class="btn btn-danger" name="confirm-delete"
                                            value="Hapus Halaman">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock admin-content %}