{% extends 'base.html' %}

{% block custom-css %}
<style>
    .recent-news {
        width: 100% !important;
    }

    .float-center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .text-center {
        text-align: center !important;
    }
</style>
{% endblock custom-css %}

{% block home-page-items %}{% endblock home-page-items %}

{% block left-content %}
<div id="breadcrumb">
    <div class="container">
        <div id="crumbs" xmlns:v="http://rdf.data-vocabulary.org/#">
            <span typeof="v:Breadcrumb">
                <a rel="v:url" property="v:title" href="{% url 'home_page' %}">Beranda</a>
            </span> &gt;
            <span class="current">Hubungi Kami</span>
        </div>
    </div><!-- .container -->
</div>
<h1 class="text-center">Hubungi Kami</h1>
<div style="border-bottom:1px solid #ececec;margin-top:15px;margin-bottom:5px;"></div>
<div class="posting-body">
    <h4><strong>SMPIT BUNAYYA PUTRA, GAYO LUES</strong></h4>

    <p>Kampus Terpadu : Jl. Cinta Maju - Kutepanjang, Blangpegayon, Gayo Lues, 24653</p>

    <p>Nanggroe Aceh Darusalam</p>

    <p>&nbsp;</p>

    <p>Telp:&nbsp;<strong>(0274) 884201 – 207</strong></p>

    <p>Fax: (0274) 884208 Kodepos: 55283</p>

    <p>E-Mail:&nbsp;<strong>contact@bunayya-school.sch.id</strong></p>
</div>
{% endblock left-content %}

{% block right-content %}{% endblock right-content %}

{% block left-footer %}{% endblock left-footer %}