{% extends 'base.html' %}

{% block custom-css %}
<style>
    .recent-news {
        width: 100% !important;
    }

    .float-center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .text-center {
        text-align: center !important;
    }
</style>
{% endblock custom-css %}

{% block home-page-items %}{% endblock home-page-items %}

{% block left-content %}
<div id="breadcrumb">
    <div class="container">
        <div id="crumbs" xmlns:v="http://rdf.data-vocabulary.org/#">
            <span typeof="v:Breadcrumb">
                <a rel="v:url" property="v:title" href="{% url 'home_page' %}">Beranda</a>
            </span> &gt;
            <span class="current">Gallery Sekolah</span>
        </div>
    </div><!-- .container -->
</div>
<h1 class="text-center">Gallery Sekolah</h1>
<div style="border-bottom:1px solid #ececec;margin-top:15px;margin-bottom:5px;"></div>
<div style='text-align:center;'>
    {% for gallery in galleries %}
        <img src='{{ gallery.gallery_image.url }}' alt='{{ gallery.caption }}' width="375" />
    {% endfor %}
</div>
{% endblock left-content %}

{% block right-content %}{% endblock right-content %}

{% block left-footer %}{% endblock left-footer %}