{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block custom-css %}
<style>
    .recent-news {
        width: 100% !important;
    }
    .text-center {
        text-align: center !important;
    }
    .float-center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .form-group {
        margin-bottom: 1rem;
    }
    .form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
</style>
{% endblock custom-css %}

{% block home-page-items %}{% endblock home-page-items %}

{% block left-content %}
<div id="breadcrumb">
    <div class="container">
        <div id="crumbs" xmlns:v="http://rdf.data-vocabulary.org/#">
            <span typeof="v:Breadcrumb">
                <a rel="v:url" property="v:title" href="{% url 'home_page' %}">Beranda</a>
            </span> &gt;
            <span class="current">Penerimaan Peserta Didik Baru</span>
        </div>
    </div><!-- .container -->
</div>
<h1 class="text-center">Formulir Penerimaan Peserta Didik Baru (PPDB)</h1>
<div style="border-bottom:1px solid #ececec;margin-top:15px;margin-bottom:5px;"></div>
<div class="posting-body">
    {% if terkirim %}
    <p class="text-center">Terima kasih, formulir telah kami terima, silakan tunggu info selanjutnya.</p>
    {% else %}
    <form method="POST" action="{% url 'page_ppdb' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_nama_depan">Nama Depan</label>
            <input type="text" class="form-control" id="id_nama_depan" name="nama_depan">
        </div>
        <div class="form-group">
            <label for="id_nama_belakang">Nama Belakang</label>
            <input type="text" class="form-control" id="id_nama_belakang" name="nama_belakang">
        </div>
        {{ form.media }}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Daftar</button>
    </form>
    {% endif %}
</div>
{% endblock left-content %}

{% block right-content %}{% endblock right-content %}

{% block left-footer %}{% endblock left-footer %}