{% extends 'base.html' %}


{% block home-page-items %}{% endblock home-page-items %}
    
{% block left-title %}{% endblock left-title %}

{% block left-content %}
<div class="recent-news">
    <div id="breadcrumb">
        <div class="container">
            <div id="crumbs" xmlns:v="http://rdf.data-vocabulary.org/#">
                <span typeof="v:Breadcrumb">
                    <a rel="v:url" property="v:title" href="{% url 'home_page' %}">Beranda</a>
                </span> &gt;
                <span typeof="v:Breadcrumb">
                    <a rel="v:url" property="v:title" href="#">{{ post.category }}</a>
                </span> &gt;
                <span class="current">{{ post.title }}</span>
            </div>
        </div><!-- .container -->
    </div>
    <h1>{{ post.title }}</h1>
    <div>
        {% if post.ringkasan %}<p>{{ post.ringkasan }}</p>{% endif %}
        <div style="margin-bottom:20px;font-size:small;color:#8f8f8f;">
            <div>{{ post.created_at|date:"l, d F Y G:i" }}, {{ post.post_views }} views</div>
            <div>Editor: {{ post.author.get_full_name }}</div>
        </div>
        {% if post.post_image %}<img src="{{ post.post_image.url }}" alt="{{ post.title }}">{% endif %}
        <div style="border-bottom:1px solid #ececec;margin-top:15px;margin-bottom:5px;"></div>
        <div class="posting-body">
            {{ post.body|safe }}
        </div>
    </div>
</div>
{% endblock left-content %}

{% block left-footer %}{% endblock left-footer %}
    