{% extends 'blog/web-admin/admin-base.html' %}
{% load crispy_forms_tags %}

{% block admin-content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Tambah Tagihan Pembayaran</h1>
</div>
<div class="mb-5">
    <form method="POST" action="{% url 'admin_tagihan_add' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock admin-content %}