{% extends 'blog/web-admin/admin-base.html' %}

{% block admin-content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Bank Data</h1>
</div>
<div class="list-group">
    <a href="{% url 'admin_tahun_ajaran' %}" class="h6 list-group-item list-group-item-action list-group-item-primary">
        Tahun Ajaran
    </a>
    <a href="{% url 'admin_kelas' %}" class="h6 list-group-item list-group-item-action list-group-item-primary">
        Kelas
    </a>
    <a href="{% url 'admin_pengurus' %}" class="h6 list-group-item list-group-item-action list-group-item-primary">
        Daftar Pengurus
    </a>
</div>
{% endblock admin-content %}