{% extends 'blog/web-admin/admin-base.html' %}

{% block admin-content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Nilai Mata Pelajaran</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="{% url 'admin_nilai_mapel_add' %}" class="btn btn-sm btn-primary">Tambah Nilai</a>
        </div>
    </div>
</div>
<!-- Default dropright button -->
<div class="btn-group dropright mb-2">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Tahun Pelajaran
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">2015/2016</a>
        <a class="dropdown-item" href="#">2016/2017</a>
        <a class="dropdown-item" href="#">2017/2018</a>
        <a class="dropdown-item" href="#">2018/2019</a>
        <a class="dropdown-item" href="#">2019/2020</a>
        <a class="dropdown-item" href="#">2020/2021</a>
        <a class="dropdown-item" href="#">2021/2022</a>
        <a class="dropdown-item" href="#">2022/2023</a>
        <a class="dropdown-item" href="#">2023/2024</a>
        <a class="dropdown-item" href="#">2024/2025</a>
        <a class="dropdown-item" href="#">2025/2026</a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Tahun Pelajaran</th>
                <th class="text-center">Mata Pelajaran</th>
                <th class="text-center">Guru Pengampu</th>
                <th class="text-center">Siswa</th>
                <th class="text-center">Nilai Pengetahuan</th>
                <th class="text-center">Predikat Pengetahuan</th>
                <th class="text-center">Nilai Keterampilan</th>
                <th class="text-center">Predikat Keterampilan</th>
                <th class="text-right">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for nilai in list_nilai_mapel %}
            <tr>
                <td>{{ nilai.mata_pelajaran.get_tahun }}</td>
                <td class="text-center">{{ nilai.mata_pelajaran }}</td>
                <td class="text-center">{{ nilai.mata_pelajaran.get_guru }}</td>
                <td class="text-center">{{ nilai.siswa }}</td>
                <td class="text-center">{{ nilai.nilai_angka_1 }}</td>
                <td class="text-center">{{ nilai.nilai_huruf_1 }}</td>
                <td class="text-center">{{ nilai.nilai_angka_2 }}</td>
                <td class="text-center">{{ nilai.nilai_huruf_2 }}</td>
                <td>
                    <button class="float-right ml-1 btn btn-sm btn-danger" data-toggle="modal"
                        data-target="#hapusNilaiMapel{{ nilai.id }}">Delete</button>
                    <!-- Delete Modal -->
                    <div class="modal fade" id="hapusNilaiMapel{{ nilai.id }}" tabindex="-1" role="dialog"
                        aria-labelledby="hapusNilaiMapel{{ nilai.id }}Title" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <form method="POST" action="{% url 'admin_nilai_mapel_hapus' nilai_id=nilai.id %}">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <p class="text-center pb-2 h6">Hapus Nilai Mapel</p>
                                        <hr>
                                        <p>Kamu yakin ingin menghapus nilai mapel ini?</p>
                                        <p><strong>{{ nilai.mata_pelajaran|title }}</strong></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                                        <input type="submit" class="btn btn-danger" name="confirm-delete" value="Hapus Nilai Mapel">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'admin_nilai_mapel_update' nilai_id=nilai.id %}" class="float-right btn btn-sm btn-success">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock admin-content %}