{% extends 'blog/web-admin/admin-base.html' %}


{% block header-css %}
    <style>
        /* sf reports import */
        .autocomplete-items {
            padding-top: 5px;
            overflow-y: scroll;
            height: 77px;
            width: 93.5%;
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
        }

        .autocomplete-items div {
            cursor: pointer;
            padding-left: 12.5px;
            font-weight: 400;
            font-size: smaller;
        }

        /*when hovering an item:*/
        .autocomplete-items div:hover {
            background-color: #e9e9e9;
        }

        /*when navigating through the items using the arrow keys:*/
        .autocomplete-active {
            background-color: DodgerBlue !important; 
            color: #ffffff; 
        }
    </style>
{% endblock header-css %}
    

{% block admin-content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Detail Kelas: {{ kelas.nama }} - {{ kelas.tahun_verbose }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="{% url 'admin_kelas' %}" class="btn btn-sm btn-secondary">Kembali</a>
        </div>
        <div class="btn-group mr-2">
            <button class="btn btn-sm btn-primary mr-2" data-toggle="modal" data-target="#id-tambah-siswa">Tambah Siswa</button>
            <button class="btn btn-sm btn-warning" data-toggle="modal" data-target="#id-wali-kelas">{% if not wali_kelas %}Edit Wali Kelas{% else %}Ganti Wali Kelas{% endif %}</button>
        </div>
        <!-- START - tambah siswa -->
        <div class="modal fade" id="id-tambah-siswa" tabindex="-1" role="dialog" aria-labelledby="id-tambah-siswa" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form method="POST" autocomplete="off" action="{% url 'admin_kelas_siswa' kelas_id=kelas.id %}">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title text-center col-12">Tambah Siswa</h5>
                        </div>
                        <div class="modal-body" style="margin-bottom:45px;">
                            <div class="font-weight-bold form-group">
                                <label for="list-siswa">Ketikkan Nama Siswa:</label>
                                <input id="list-siswa" class="form-control">
                                <input type="hidden" class="form-control" name="id-siswa" id="id-nama-siswa">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" name="confirm-add-siswa" value="Tambah Siswa">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- END - tambah siswa -->
        <!-- START - ubah wali kelas -->
        <div class="modal fade" id="id-wali-kelas" tabindex="-1" role="dialog" aria-labelledby="id-wali-kelas" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form method="POST" autocomplete="off" action="{% url 'admin_kelas_wali' kelas_id=kelas.id %}">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title text-center col-12">{% if not wali_kelas %}Edit Wali Kelas{% else %}Ganti Wali Kelas{% endif %}</h5>
                        </div>
                        <div class="modal-body" style="margin-bottom:45px;">
                            <div class="font-weight-bold form-group">
                                <label for="list-guru">Ketikkan Nama Guru:</label>
                                <input id="list-guru" class="form-control">
                                <input type="hidden" class="form-control" name="id-guru" id="id-nama-guru">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" name="confirm-update-wali" value="{% if not wali_kelas %}Edit Wali Kelas{% else %}Ganti Wali Kelas{% endif %}">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- END - ubah wali kelas -->
    </div>
</div>
<div>
    <table class="table table-sm table-hover">
        <thead class="thead-dark">
            <tr>
                <th style="width: 29%">Kolom</th>
                <th style="width: 1%"></th>
                <th style="width: 70%">Data</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nama</td>
                <td>:</td>
                <td class="text-left">{{ kelas.nama }}</td>
            </tr>
            <tr>
                <td>Tahun Pelajaran</td>
                <td>:</td>
                <td class="text-left">{{ kelas.tahun_ajaran }}</td>
            </tr>
            <tr>
                <td>Wali Kelas</td>
                <td>:</td>
                <td class="text-left">{{ wali_kelas }}</td>
            </tr>
            <tr>
                <td>Daftar Siswa</td>
                <td>:</td>
                <td>
                    <ul class="list-group">
                        {% for siswa in kelas.siswa.all %}
                        <li class="list-group-item px-0 py-0 border-0" style="background-color:unset;">{{ siswa }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock admin-content %}


{% block js-footer %}
    <script>
        function autocomplete(inp, selector, arr) {
            /*the autocomplete function takes two arguments,
            the text field element and an array of possible autocompleted values:*/
            let currentFocus;
            /*execute a function when someone writes in the text field:*/
            inp.addEventListener("input", function (e) {
                let a, b, i, val = this.value;
                /*close any already open lists of autocompleted values*/
                closeAllLists();
                if (!val) { return false; }
                currentFocus = -1;
                /*create a DIV element that will contain the items (values):*/
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                /*append the DIV element as a child of the autocomplete container:*/
                this.parentNode.appendChild(a);
                /*for each item in the array...*/
                for (i = 0; i < arr.length; i++) {
                    /*check if the item starts with the same letters as the text field value:*/
                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        let reportText = arr[i].split("#id#")[0]
                        let reportId = arr[i].split("#id#")[1]
                        /*create a DIV element for each matching element:*/
                        b = document.createElement("DIV");
                        b.innerHTML = reportText.substr(0, val.length);
                        b.innerHTML += reportText.substr(val.length);
                        /*insert a input field that will hold the current array item's value:*/
                        b.innerHTML += "<input type='hidden' value='" + reportText + "'>";
                        /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function (e) {
                            /*insert the value for the autocomplete text field:*/
                            nameText = reportText.split(",")[0]
                            inp.value = nameText;
                            document.getElementById(selector).value = reportId;
                            /*close the list of autocompleted values,
                            (or any other open lists of autocompleted values:*/
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });
            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (let i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                let x = document.getElementsByClassName("autocomplete-items");
                for (let i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }

        let listSiswa = [
            {% for siswa in list_siswa %}"{{ siswa }}", {% endfor %}
        ];
        autocomplete(document.getElementById("list-siswa"), "id-nama-siswa", listSiswa);

        let listGuru = [
            {% for guru in list_guru %}"{{ guru }}", {% endfor %}
        ];
        autocomplete(document.getElementById("list-guru"), "id-nama-guru", listGuru);
    </script>
{% endblock js-footer %}