{% extends 'blog/web-admin/admin-base.html' %}

{% block admin-content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Kelas</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="{% url 'admin_kelas_add' %}" class="btn btn-sm btn-primary">Tambah Kelas</a>
        </div>
    </div>
</div>
<div class="btn-group dropright mb-2">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Tahun Pelajaran
    </button>
    <div class="dropdown-menu">
        {% for tahun in list_tahun %}
            <a class="dropdown-item" href="#">{{ tahun }}</a>
        {% endfor %}
    </div>
</div>
<div class="table-responsive">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Tahun Pelajaran</th>
                <th class="text-center">Kelas</th>
                <th class="text-center">Wali Kelas</th>
                <th class="text-right">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for kelas, wali_kelas in list_kelas %}
            <tr>
                <td>{{ kelas.tahun_ajaran }}</td>
                <td class="text-center">{{ kelas.nama }}</td>
                <td class="text-center">{{ wali_kelas }}</td>
                <td>
                    <button class="float-right ml-1 btn btn-sm btn-danger" data-toggle="modal"
                        data-target="#hapusKelas{{ kelas.id }}">Delete</button>
                    <!-- Delete Modal -->
                    <div class="modal fade" id="hapusKelas{{ kelas.id }}" tabindex="-1" role="dialog"
                        aria-labelledby="hapusKelas{{ kelas.id }}Title" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <form method="POST" action="{% url 'admin_kelas_hapus' kelas_id=kelas.id %}">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <p class="text-center pb-2 h6">Hapus Kelas</p>
                                        <hr>
                                        <p>Kamu yakin ingin menghapus kelas ini?</p>
                                        <p><strong>{{ kelas.nama }}</strong></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Batal</button>
                                        <input type="submit" class="btn btn-danger" name="confirm-delete"
                                            value="Hapus Kelas">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'admin_kelas_update' kelas_id=kelas.id %}"
                        class="float-right btn btn-sm btn-success">Edit</a>
                    <a href="{% url 'admin_kelas_detail' kelas_id=kelas.id %}"
                        class="float-right mr-1 btn btn-sm btn-warning">Lihat
                        Rincian</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock admin-content %}