{% extends 'blog/web-admin/admin-base.html' %}
{% load crispy_forms_tags %}

{% block admin-content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Update Siswa: {{ siswa.user.get_full_name }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="{% url 'admin_siswa' %}" class="btn btn-primary btn-sm">Kembali</a>
        </div>
    </div>
</div>
<div class="mb-5">
    <form method="POST" action="{% url 'admin_siswa_update' siswa_id=siswa.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_nama_depan">Nama Depan</label>
            <input type="text" class="form-control" id="id_nama_depan" name="nama_depan" value="{{ siswa.user.first_name }}">
        </div>
        <div class="form-group">
            <label for="id_nama_belakang">Nama Belakang</label>
            <input type="text" class="form-control" id="id_nama_belakang" name="nama_belakang" value="{{ siswa.user.last_name }}">
        </div>
        {{ form.media }}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="Update Siswa" />
    </form>
</div>
{% endblock admin-content %}