{% extends 'blog/web-admin/admin-base.html' %}

{% block admin-content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Siswa</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="{% url 'admin_siswa_add' %}" class="btn btn-sm btn-primary">Tambah Siswa</a>
        </div>
    </div>
</div>
<div class="btn-group dropright mb-2">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Filter By
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item{% if request.GET.filter == 'calon' %} active{% endif %}" href="?filter=calon">Calon</a>
        <a class="dropdown-item{% if request.GET.filter == 'aktif' or request.GET.filter == None %} active{% endif %}" href="?filter=aktif">Aktif</a>
        <a class="dropdown-item{% if request.GET.filter == 'alumni' %} active{% endif %}" href="?filter=alumni">Alumni</a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>NIS/NISN</th>
                <th>Nama Siswa</th>
                <th class="text-center">Tanggal Lahir</th>
                <th class="text-center">Nama Orang Tua</th>
                <th class="text-center">Status Siswa</th>
                <th class="text-center">Asal Sekolah</th>
                <th class="text-right">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for siswa in list_siswa %}
            <tr>
                <td>{{ siswa.nis_siswa }}/{{ siswa.nisn_siswa }}</td>
                <td>{{ siswa.user.get_full_name|title }}</td>
                <td class="text-center">{% if siswa.tanggal_lahir %}{{ siswa.tanggal_lahir }}{% else %}-{% endif %}</td>
                <td class="text-center">{% if siswa.nama_orang_tua %}{{ siswa.nama_orang_tua }}{% else %}-{% endif %}
                </td>
                <td class="text-center">{{ siswa.status_siswa|title }}</td>
                <td class="text-center">{% if siswa.asal_sekolah %}{{ siswa.asal_sekolah }}{% else %}-{% endif %}</td>
                <td>
                    <button class="float-right ml-1 btn btn-sm btn-danger" data-toggle="modal"
                        data-target="#hapusSiswa{{ siswa.id }}">Delete</button>
                    <!-- Delete Modal -->
                    <div class="modal fade" id="hapusSiswa{{ siswa.id }}" tabindex="-1" role="dialog"
                        aria-labelledby="hapusSiswa{{ siswa.id }}Title" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <form method="POST" action="{% url 'admin_siswa_hapus' siswa_id=siswa.id %}">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <p class="text-center pb-2 h6">Hapus Siswa</p>
                                        <hr>
                                        <p>Kamu yakin ingin menghapus siswa ini?</p>
                                        <p><strong>{{ siswa.user.get_full_name|title }}</strong></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Batal</button>
                                        <input type="submit" class="btn btn-danger" name="confirm-delete"
                                            value="Hapus Siswa">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'admin_siswa_update' siswa_id=siswa.id %}"
                        class="float-right btn btn-sm btn-success">Edit</a>
                    <a href="{% url 'admin_siswa_detail' siswa_id=siswa.id %}"
                        class="float-right mr-1 btn btn-sm btn-warning">Lihat Rincian</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock admin-content %}