{% extends 'blog/web-admin/admin-base.html' %}
{% load humanize %}

{% block admin-content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Tagihan Pembayaran Siswa</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="{% url 'admin_tagihan_add' %}" class="btn btn-sm btn-primary">Tambah Tagihan</a>
        </div>
    </div>
</div>
<div class="btn-group dropright mb-2">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Filter By
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item{% if request.GET.filter == None %} active{% endif %}" href="{% url 'admin_tagihan' %}">Tagihan Aktif</a>
        <a class="dropdown-item{% if request.GET.filter == 'lunas' %} active{% endif %}" href="?filter=lunas">Lunas</a>
        <a class="dropdown-item{% if request.GET.filter == 'belum-lunas' %} active{% endif %}" href="?filter=belum-lunas">Belum Lunas</a>
        <a class="dropdown-item{% if request.GET.filter == 'belum-dibayar' %} active{% endif %}" href="?filter=belum-dibayar">Belum Dibayar</a>
    </div>
</div>
<div class="text-right"><span class="h6">Total Tagihan: </span><span class="h4 ml-2">Rp. {{ total_tagihan|intcomma }},-</span></div>
<div class="table-responsive">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Tanggal Tagihan</th>
                <th>NIS/NISN</th>
                <th>Nama Siswa</th>
                <th>Kategori</th>
                <th>Keterangan</th>
                <th>Status Tagihan</th>
                <th>Penerima</th>
                <th></th>
                <th class="text-right">Tagihan</th>
                <th class="text-right">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for tagihan in list_tagihan %}
            <tr>
                <td>{{ tagihan.tanggal_tagihan }}</td>
                <td>{{ tagihan.siswa.nis_siswa }}/{{ tagihan.siswa.nisn_siswa }}</td>
                <td>{{ tagihan.siswa.user.get_full_name }}</td>
                <td>{{ tagihan.kategori_verbose }}</td>
                <td>{{ tagihan.keterangan }}</td>
                <td>{{ tagihan.status_verbose }}</td>
                <td>{% if tagihan.penerima %}{{ tagihan.penerima.user.get_full_name }}{% endif %}</td>
                <td>Rp.</td>
                <td class="text-right">{{ tagihan.tagihan|intcomma }}</td>
                {% if tagihan.status_pembayaran == 'belum-lunas' or tagihan.status_pembayaran == 'belum-dibayar' %}
                <td class="text-right">
                    <button class="float-right btn btn-sm btn-primary" data-toggle="modal"
                        data-target="#lunasTagihan{{ tagihan.id }}">Sudah Lunas?</button>
                </td>
                <!-- Lunas Confirmation Modal -->
                <div class="modal fade" id="lunasTagihan{{ tagihan.id }}" tabindex="-1" role="dialog"
                aria-labelledby="lunasTagihan{{ tagihan.id }}Title" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <form method="POST" action="{% url 'admin_tagihan_lunas' tagihan_id=tagihan.id %}">
                            {% csrf_token %}
                            <div class="modal-body">
                                <p class="text-center pb-2 h6">Tagihan Lunas</p>
                                <hr>
                                <p>Kamu yakin bahwa tagihan ini telah lunas?</p>
                                <p><strong>{{ tagihan.siswa.user.get_full_name|title }}: {{ tagihan.tagihan|intcomma }}</strong></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Batal</button>
                                <input type="submit" class="btn btn-primary" name="confirm-lunas"
                                    value="Tagihan Lunas">
                            </div>
                        </form>
                    </div>
                </div>
                {% else %}
                <td class="text-right">
                    <button class="float-right btn btn-sm btn-danger" data-toggle="modal"
                        data-target="#batalLunasTagihan{{ tagihan.id }}">Batalkan Lunas?</button>
                </td>
                <!-- Lunas Confirmation Modal -->
                <div class="modal fade" id="batalLunasTagihan{{ tagihan.id }}" tabindex="-1" role="dialog"
                aria-labelledby="batalLunasTagihan{{ tagihan.id }}Title" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <form method="POST" action="{% url 'admin_tagihan_batal_lunas' tagihan_id=tagihan.id %}">
                            {% csrf_token %}
                            <div class="modal-body">
                                <p class="text-center pb-2 h6">Batalkan Status Tagihan</p>
                                <hr>
                                <p>Kamu yakin status tagihan ini dibatalkan lunas?</p>
                                <p><strong>{{ tagihan.siswa.user.get_full_name|title }}: {{ tagihan.tagihan|intcomma }}</strong></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Batal</button>
                                <input type="submit" class="btn btn-danger" name="confirm-batal-lunas"
                                    value="Batal Lunas">
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock admin-content %}
