{% extends 'blog/web-admin/admin-base.html' %}

{% block admin-content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Tahun Ajaran</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button class="float-right ml-1 btn btn-sm btn-primary" data-toggle="modal" data-target="#tambahTahun">Tambah Tahun</button>
            <!-- Update Modal -->
            <div class="modal fade" id="tambahTahun" tabindex="-1" role="dialog"
                aria-labelledby="tambahTahunTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <form method="POST" action="{% url 'admin_tahun_ajaran' %}">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h5 class="col-12 modal-title text-center">Tambah Tahun Ajaran</h5>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="id_tahun">Tahun Pelajaran</label>
                                    <input type="text" class="form-control" id="id_tahun" name="tahun" placeholder="2020">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                                <input type="submit" class="btn btn-primary" name="add-tp" value="Tambah Tahun">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Tahun Pelajaran</th>
                <th class="text-right">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for tahun in list_tahun %}
            <tr>
                <td>{{ tahun }}</td>
                <td>
                    <button class="float-right ml-1 btn btn-sm btn-danger" data-toggle="modal"
                        data-target="#hapusTahun{{ tahun.id }}">Delete</button>
                    <!-- Delete Modal -->
                    <div class="modal fade" id="hapusTahun{{ tahun.id }}" tabindex="-1" role="dialog"
                        aria-labelledby="hapusTahun{{ tahun.id }}Title" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <form method="POST" action="{% url 'admin_tahun_ajaran_hapus' tahun_id=tahun.id %}">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <p class="text-center pb-2 h6">Hapus Tahun</p>
                                        <hr>
                                        <p>Kamu yakin ingin menghapus tahun ini?</p>
                                        <p><strong>{{ tahun }}</strong></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Batal</button>
                                        <input type="submit" class="btn btn-danger" name="confirm-delete"
                                            value="Hapus Tahun">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <button class="float-right ml-1 btn btn-sm btn-primary" data-toggle="modal"
                        data-target="#updateTahun{{ tahun.id }}">Update</button>
                    <!-- Update Modal -->
                    <div class="modal fade" id="updateTahun{{ tahun.id }}" tabindex="-1" role="dialog"
                        aria-labelledby="updateTahun{{ tahun.id }}Title" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <form method="POST" action="{% url 'admin_tahun_ajaran_update' tahun_id=tahun.id %}">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <h5 class="col-12 modal-title text-center">Update Tahun Ajaran</h5>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="id_tahun">Tahun Pelajaran</label>
                                            <input type="text" class="form-control" id="id_tahun" name="tahun" value="{{ tahun.tahun }}">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                                        <input type="submit" class="btn btn-primary" name="confirm-update" value="Update Tahun">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock admin-content %}