{% extends 'blog/web-admin/admin-base.html' %}

{% block admin-content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Detail Siswa: {{ siswa.user.get_full_name }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="{% url 'admin_siswa' %}" class="btn btn-sm btn-primary">Kembali</a>
        </div>
    </div>
</div>
<div>
    <table class="table table-sm table-hover">
        <thead class="thead-dark">
            <tr>
                <th style="width: 30%">Kolom</th>
                <th style="width: 70%">&nbsp;&nbsp;Data</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nama Siswa</td>
                <td class="text-left">: {{ siswa.user.get_full_name }}</td>
            </tr>
            <tr>
                <td>Nama Orang Tua</td>
                <td class="text-left">: {% if siswa.nama_orang_tua %}{{ siswa.nama_orang_tua }}{% endif %}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock admin-content %}