{% extends 'blog/web-admin/admin-base.html' %}

{% block admin-content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Detail Pembayaran: {{ tagihan.kategori_pembayaran }} - {{ tagihan.siswa.user.get_full_name }}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <a href="{% url 'admin_tagihan' %}" class="btn btn-sm btn-primary">Kembali</a>
        </div>
    </div>
</div>
<div>
    <table class="table table-sm table-hover">
        <thead class="thead-dark">
            <tr>
                <th style="width: 30%">Kolom</th>
                <th style="width: 70%">&nbsp;&nbsp;Data</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Siswa</td>
                <td class="text-left">: {{ tagihan.siswa.user.get_full_name }}</td>
            </tr>
            <tr>
                <td>Penerima</td>
                <td class="text-left">: {{ tagihan.penerima.user.get_full_name }}</td>
            </tr>
            <tr>
                <td>Tanggal Tagihan</td>
                <td class="text-left">: {{ tagihan.tanggal_tagihan }}</td>
            </tr>
            <tr>
                <td>Tanggal Pembayaran</td>
                <td class="text-left">: {% if tagihan.tanggal_bayar %}{{ tagihan.tanggal_bayar }}{% endif %}</td>
            </tr>
            <tr>
                <td>Tagihan</td>
                <td class="text-left">: {{ tagihan.tagihan }}</td>
            </tr>
            <tr>
                <td>Kategori</td>
                <td class="text-left">: {{ tagihan.kategori_pembayaran }}</td>
            </tr>
            <tr>
                <td>Keterangan</td>
                <td class="text-left">: {{ tagihan.keterangan }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock admin-content %}